{% extends 'base.html' %}
{% load static %}
  {% block title %} Inicio {% endblock %}
  {% block menubar %}{% include "usuario/menu.html" %}{% endblock %}

{% block content %}
<script>
    function myFunction(val) {
        alert("The input value has changed. The new value is: " + val);
    }
</script>
<script>
    function cambiarFecha(val){
        var valor = document.getElementById('inputBusqueda').value;
        var tipo = document.getElementById('tipo').value;
        alert("The input value has changed. The new value is: " + valor + tipo);
        var x = new XMLHttpRequest();
        x.open('GET',"{% url 'vistaScript' %}?fecha="+val+"&tipo="+tipo)
        x.onreadystatechange = function (e) {
            if (x.readyState == 4) {
                if (x.status === 200) {
                    x.addEventListener('load', function(e){
                        var jsonData = JSON.parse(x.responseText.replace(/\'/g,'"'))
                        //iterarObjeto(jsonData);
                        console.log(jsonData);
                        iterarTabla(jsonData);
                    });
                } 
                else{
                    console.error(x.status);
                    }
            }
        }
        x.send();
    }

function iterarTabla(obj){
    document.getElementById('tablaFactura').children[1].innerHTML = '';
    var total = 0;
    for(i = 0; i < obj.length; i++){
        console.log(obj[i]);
        console.log(obj[i].fields.RFC);
        //var span = validar(obj[i].xml)
        //<th>Acciones</th>
        //<th>RFC Cliente</th> 
        //<th>Razón Social</th>
        //<th>Fecha de Emision</th>
        //<th>Vigente</th>
        //<th>SubTotal</th>
        //<th>Total</th>
        //<th><a href="{{columna.0.url}}" download>Descargar XML</a>
        //<a href="{{columna.1.url}}" download>Descargar PDF</a></th>                    
        var vigencia = "";
        console.log(obj[i].fields.vigente);
        if (obj[i].fields.vigente == true) {
            vigencia="vigente";
        }else{
            vigencia="caducado";
        }
        var tr = document.createElement('tr');
        tr.innerHTML = '<td><a href="../../media/'+obj[i].fields.xml+'" download>Descargar XML <a href="../../media/'+obj[i].fields.pdf+'" download>Descargar PDF</td>';
        tr.innerHTML +='<td>' + obj[i].fields.RFC + '</td>';
        tr.innerHTML +='<td>' + obj[i].fields.razon_social + '</td>';
        tr.innerHTML +='<td>' + obj[i].fields.fecha + '</td>';
        tr.innerHTML +='<td>' + vigencia + '</td>';
        tr.innerHTML +='<td>' + obj[i].fields.sub_total + '</td>';
        tr.innerHTML +='<td>' + obj[i].fields.total + '</td>';
        document.getElementById('tablaFactura').children[1].appendChild(tr);
        total+=obj[i].fields.total;
    }
    //imprimir total
    var tr = document.createElement('tr');
    tr.innerHTML = '<td></td>';
    tr.innerHTML +='<td></td>';
    tr.innerHTML +='<td></td>';
    tr.innerHTML +='<td></td>';
    tr.innerHTML +='<td></td>';
    tr.innerHTML +='<th>Total del mes: </th>';
    tr.innerHTML +='<th>' + total + '</th>';
    document.getElementById('tablaFactura').children[1].appendChild(tr);
}  
</script>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Facturas del mes {%  now "F" %} de {% now 'Y' %} <small> Ayuda Contable</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                        <input type="month" id="inputBusqueda" name="inputBusqueda" min="2018-01" value="{% now 'Y' %}-{%  now 'm' %}" onchange="cambiarFecha(this.value)">
                        <input type="hidden" name="tipo" id="tipo" value="{{tipo}}">
                        <!--{% if total == 0 %}
                        <h1>No hay facturas en este mes</h1>
                        {% endif %}-->
                        <div class="table-responsive">
                        <table class="table" id="tablaFactura">
                        <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>RFC Cliente</th> 
                            <th>Razón Social</th>
                            <th>Fecha de Emision</th>
                            <th>Vigente</th>
                            <th>SubTotal</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for factura in facturas %}
                        <tr>
                            <td><a href="{{factura.xml.url}}" download>Descargar XML</a><a href="{{factura.pdf.url}}" download>Descargar PDF</a></td>
                            <td>{{factura.RFC}}</td>
                            <td>{{factura.razon_social}}</td>
                            <td>{{factura.fecha}}</td>
                            {% if factura.vigente %}
                            <td>vigente</td>
                            {% else %}
                            <td>caducado</td>
                            {% endif %}
                            <td>{{factura.sub_total}}</td>
                            <td>{{factura.total}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total del Mes:</th>
                            <th>{{total}}</th>
                        </tr>
                        </table>
                        </div>


                        </div>
                    </div>
                </div>
            </div>

{% endblock %}