{% extends 'base.html' %}
{% load static %}
  {% block title %} Inicio {% endblock %}
  {% block menubar %}{% include "usuario/menu.html" %}{% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="container body-content" style="margin-top: 100px;">
        <main role="main">
            


<div class="container">
    <div class="login-form col-md-12 offset-md-0" style="border-radius:3%;">
        <h2 class="panel-title text-center">Bienvenido {{user}}</h2>
        <hr>
        <div style="text-align:center">
        <span id='message'></span>
        </div>
        
    </div>
</div>

        </main>
    </div>

    <!--  Scripts-->
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>


    </main>

</style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg>
{% endblock %}