    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#"> </a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index3' %}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facturas</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="">Subir Archivos</a>
              <a class="dropdown-item" href="{% url 'vistaGeneral' %}">Ver Archivos </a>
              <a class="dropdown-item" href="{% url 'vistaN' %}">Egresos</a>
              <a class="dropdown-item" href="">Ingresos</a>
              <a class="dropdown-item" href="">Nominas</a>
              <a class="dropdown-item" href="">Pagos</a>
            </div>
          <li class="nav-item">
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="">Ajustes</a>
              <a class="dropdown-item" href="#">Ayuda</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
          </li>
        </ul>
      </div>
    </nav>